#on boot
#    write /sys/module/android/parameters/product_id 6000
#    setprop sys.usb.config $sys.usb.config

on property:sys.usb.config=adb
    write /sys/module/android/parameters/product_id 6000
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb
    write /sys/module/android/parameters/product_id 61A6
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage
    write /sys/module/android/parameters/product_id 61C5
    stop adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    write /sys/module/android/parameters/product_id 61D9
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    write /sys/module/android/parameters/product_id 61DA
    stop adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mtp,adb
    write /sys/module/android/parameters/product_id 61F9
    write /sys/class/usb_composite/usb_mass_storage/enable 0
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mtp
    write /sys/module/android/parameters/product_id 631C
    write /sys/class/usb_composite/usb_mass_storage/enable 0
    stop adbd
    setprop sys.usb.state $sys.usb.config
